{% extends "partials/dashboard/base.html" %}

{% load static %}

{% block title %}Main page{% endblock title %}


{% block body %}


<section id="add-new-bank" aria-label="Add new bank">

    <div class="dashboard__container">

        <!-- Main content -->
        <section class="dashboard__container__main" tabindex="-1">

            {% include "partials/header/header.html" %}


            <!-- main -->
            <div class="main-body flex-grid" id="add-new-bank">

                <h1 id="bank-form-title" class="ml-48 header-6 mt-16">Add Bank</h1>

                <p class="form-subtitle ml-48">
                    Create a new bank profile, branch details, services, and deposit settings.
                </p>

                <div class="bank-form__wrapper">

                    <form action="" method="post" id="add-bank-form" aria-labelledby="bank-form-title">

                        <!-- Basic Information -->
                        <fieldset>
                            <legend class="bold mt-16">Basic Information</legend>
                            <p class="fieldset-subtitle">
                                Add the bank’s public name and description shown to users.
                            </p>
                            <hr class="dividor">

                            <div class="group">
                                <label for="bank-name">Bank name</label>

                                {{ form.name }}
                            </div>

                            <div class="group flex-grid">
                                <label for="bank-country">Bank country</label>
                                {{ form.country }}
                            </div>

                            <div class="group flex-grid">
                                {{ form.description.label }}
                                {{ form.description }}
                                <p class="num-of-characters-remaining text-align-right character-usage-message">Minimum
                                    characters to use: 50</p>
                                <p class="num-of-characters-to-use text-align-right character-usage-message">Number of
                                    characters remaining: 255</p>
                            </div>

                            <div class="group flex-grid">
                                {{ form.logo.label }}
                                {{ form.logo }}
                                <small>Upload the bank’s official logo.</small>
                            </div>
                        </fieldset>


                        <!-- Branch Details -->
                        <fieldset>
                            <legend class="bold">Branch Details</legend>
                            <p class="fieldset-subtitle">
                                Enter the main branch location and address users can view.
                            </p>
                            <hr class="dividor">

                            <div class="group flex-grid">
                                <label for="branch-name">Branch name</label>

                                <small id="branch-help">
                                    Used to identify a specific office or location, such as London Central Branch.
                                </small>
                                {{ form.branch_name }}
                            </div>

                            <div class="group flex-grid">
                                <label for="branch-address">Address*</label>
                                {{ form.address_line_1 }}
                            </div>

                              <div class="group flex-grid">
                                <label for="branch-address_2">Address line 2</label> 
                                <small>Optional</small>
                                {{ form.address_line_2 }}
                            </div>

                            <div class="group flex-grid">
                                <label for="branch-address_2">Postcode*</label> 
                                 {{ form.postcode }}
                            </div>

                            <div class="group flex-grid">
                                <label for="phone-number">Customer support phone number</label>
                                 {{ form.phone_number }}
                                <small>Main contact number for this branch.</small>
                            </div>



                        </fieldset>


                        <!-- Banking Services -->
                        <fieldset>
                            <legend class="bold">Banking Services</legend>
                            <p class="fieldset-subtitle">
                                Select the financial services this bank currently provides.
                            </p>
                            <hr class="dividor">

                            <div class="group flex-grid">
                                <label for="offer-overdraft">Offers overdraft</label>
                                 {{ form.offer_overdraft}}
                            </div>

                            <div class="group flex-grid">
                                <label for="offer-savings-account">Offers savings accounts</label>
                                 {{ form.offer_saving_account}}
                            </div>
                        </fieldset>


                        <!-- Deposit Settings -->
                        <fieldset>
                            <legend class="bold">Deposit Settings</legend>
                            <p class="fieldset-subtitle">
                                Configure deposit limits, contribution amounts, and interest timing.
                            </p>
                            <hr class="dividor">

                            <div class="group flex-grid">
                                <label for="interest-period">Interest period</label>
                                {{ form.interest_period }}
                            </div>

                            <div class="group flex-grid">
                                <label for="monthly-deposit">Monthly deposit</label>
                                 {{ form.monthly_deposit }}
                                
                            </div>

                            <div class="group flex-grid">
                                <label for="minimum-deposit">Minimum deposit</label>
                                  {{ form.minimum_opening_deposit }}
                            </div>
                        </fieldset>


                        <hr class="dividor">

                        <!-- the buttons on the right hand side-->
                        <div class="bank-btns flex-grid">

                            <button type="submit" class="btn-large red-bg white-text">Save</button>
                            <a href="">
                                <button type="button" class="btn-large green-bg white-text">Manage Banks</button>
                            </a>

                            <a href="{% url 'bank_operation_centre' %}">

                                <button type="button" class="btn-large blue-bg white-text"> Bank Operations
                                    Centre</button>
                            </a>

                        </div>

                    </form>




                </div>




            </div>


        </section>



    </div>

</section>



{% endblock body %}

{% block script %}

<script src="{% static '/js/bankSetup/add_bank.js' %}" type="module"></script>
{% endblock script %}


