{% load static %}

<nav class="dashboard__container__navbar flex flex-space-between">
    <div class="dashbaord__container__nav-head sidebar-brand">
        <i class="fa-solid fa-building-columns" aria-hidden="true"></i>
        <a href="{% url 'bank_home' %}">

            <span class="sidebar-brand__name dashboard-nav-site-name">Virtual Bank</span>

        </a>
    </div>

    <div class="dashboard__container__nav-body flex-grid three-column-grid">

        <div class="dashboard_container__amount">
            <span class="bold"><span class="currency">£</span>1,500</span>
        </div>

        <div class="dashboard__profile" id="dashboard-profile">
            <img src="{% static '/images/icons/profile.png' %}" alt="" class="dashboard-profile-img">

            <div class="dashboard__container__dropdown-menu dropdown-menu" id="dashboard__container__dropdown-menu">
                <ul>
                    <li class="flex-grid two-column-20_80_grid">
                        <span>
                            <img src="{% static '/images/icons/profile.png' %}" alt="" class="dashboard-profile-img">
                        </span>

                        <span class="flex-grid">
                            <span class="bold">John Doe</span>
                            <span class="lower-case">Johndoe@example.com</span>
                        </span>
                    </li>

                    <li>
                        <span><i class="fa-regular fa-user"></i></span><span>Account</span>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-shield-halved"></i></span><span>Security</span>
                    </li>
                    <li>
                        <span><i class="fa-regular fa-circle-question"></i></span><span>Help &
                            Support</span>
                    </li>

                    <li class="dashboard-logout">
                        <span><i class="fa-solid fa-right-from-bracket"></i></span><span>Log
                            out</span>
                    </li>
                </ul>
            </div>

        </div>

        <div class="dashboard__container__notification-bell">
            <div class="notifications">
                <img src="{% static '/images/icons/notification_smartphone_icon.png' %}" alt=""
                    class="dashboard-notification-bell-img">
            </div>


        </div>


    </div>


</nav>