NAME=
PASSWORD=
HOST=localhost
PORT=5432
USER=postgres


# email settings
DJANGO_AUTH_RECOVERY_CODES_ADMIN_SENDER_EMAIL =
DJANGO_AUTH_RECOVERY_CODE_ADMIN_EMAIL_HOST_USER =
DJANGO_AUTH_RECOVERY_CODE_ADMIN_USERNAME =



# Security / Keys
DJANGO_AUTH_RECOVERY_KEY = 
