{% extends "home/base.html" %}
{% load static %}

{% block title %}
    {% if resend %}
        Your New Verification Code
{% else %}
    Verify Your Registration Code
{% endif %}

{% endblock title %}

{% block body %}

{% if restrict_account %}

<section class="center" id="resend-limit-exceeded">
    <p><strong>Account restricted.</strong></p>
    <p>
        Your account has been restricted due to excessive verification requests.
    </p>
    <p>
        Access can only be restored by contacting support.
    </p>
</section>

<section id="account-blocked" class="account-status is-blocked" role="alert" aria-live="assertive">
    <div class="blocked center">
        <img src="{% static 'images/icons/blocked.png' %}" alt="Your account is blocked due to too many attempts"
            class="blocked__image">


    </div>
</section>


{% else %}

{% include "partials/messages/messages.html" %}

<section id="verify-registration-code" aria-labelledby="verify-title" class="mb-8">

    <div class="verify-registration-code__container">

        <div class="spinner" id="confirmation-code-spinner"></div>

        <div class="flex-grid">

            <!-- Header -->
            <div class="auth-card flex two-column-45_65_grid mt-16">

                <div class="auth-card__image">
                    <img src="{% static 'images/card-icons/auth-2fa.png' %}"
                        alt="Illustration of two-factor authentication security">
                </div>

                <div class="auth-card__content pt-48">
                    <h1 id="verify-title" class="auth-card__title mt-24 header-3">
                        Verify Confirmation Code
                    </h1>

                    <p id="verify-description" class="auth-card__description">
                        We have sent a 12-digit verification code.
                    </p>

                    <p class="auth-card__description">
                        Enter the code below to continue.
                    </p>
                </div>

            </div>

            <!-- Form -->
            <form action="{% url 'confirm_registration_code' %}" id="verify-registration-confirmation-code-form"
                aria-describedby="verify-description" method="post">

                {% csrf_token %}

                <fieldset class="code-wrapper flex-grid" role="group" aria-labelledby="code-group-label">

                    <legend id="code-group-label" class="sr-only">
                        Enter 12-digit verification code
                    </legend>

                    <input type="text" name="first_code" maxlength="1" class="code-number" required>
                    <input type="text" name="second_code" maxlength="1" class="code-number" required>
                    <input type="text" name="third_code" maxlength="1" class="code-number" required>
                    <input type="text" name="fourth_code" maxlength="1" class="code-number" required>
                    <input type="text" name="fifth_code" maxlength="1" class="code-number" required>
                    <input type="text" name="six_code" maxlength="1" class="code-number" required>
                    <input type="text" name="seventh_code" maxlength="1" class="code-number" required>
                    <input type="text" name="eighth_code" maxlength="1" class="code-number">
                    <input type="text" name="ninth_code" maxlength="1" class="code-number" required>
                    <input type="text" name="tenth_code" maxlength="1" class="code-number" required>
                    <input type="text" name="eleventh_code" maxlength="1" class="code-number" required>
                    <input type="text" name="twelfth_code" maxlength="1" class="code-number" required>

                </fieldset>

                {{ form.code }}

                <hr class="dividor">

                <div class="btn center">
                    <button type="submit" class="btn-large mt-16 blue-bg white-text" id="verify-register-code-btn">
                        Verify Code
                    </button>
                </div>

            </form>

        </div>
    </div>

</section>

<nav class="center mb-48">
    <a href="{% url 'resend_verification_code' %}" id="resend-link" class="center">
        Resend code
    </a>
</nav>

{% endif %}

{% endblock body %}

{% block script %}
<script src="{% static 'js/authentication/confirmCode.js' %}" type="module"></script>
{% endblock script %}