{% extends "partials/dashboard/base.html" %}

{% load static %}

{% block title %}Dashb0ard Main page{% endblock title %}


{% block body %}


<section class="dashboard__container__main" tabindex="-1">


    {% include "partials/header/header.html" %}

    {% include "partials/messages/messages.html" %}

    <!-- Greetings -->
    <div class="greeting mt-24 ml-24">
        <h1 class="header-7 capitalise">Hi, {{ request.user.username | title }}, Welcome back!</h1>

    </div>


    {% if request.user and not request.user.is_superuser or not request.user.is_staff %}

    <p class="text-muted capitalise greeting mt-24 ml-24">Manage your finances</p>
    <!-- quick menu -->
    {% include "components/bank/dashboard/_quick_menu_cards.html" %}

    <hr class="dividor">

    <!-- The main content -->
    <div class="dashboard__container__main__wrapper mt-16">

        <!-- Dasshboard overview main body -->
        {% include "partials/dashboard/bank-overview.html" %}


    </div>


    <!--modals-->

    <!-- connect wallet modal-->
    {% include "components/bank/dashboard/modals/_connect_wallet_modal.html" %}

    <!-- status modal -->
    {% include "components/bank/dashboard/modals/_status.html" %}

    <!-- wallet disconnect confirmation modal-->
    {% include "components/bank/dashboard/modals/_wallet_disconnect_confirmation.html" %}

    <!-- add bank funds modal -->
    {% include "components/bank/dashboard/modals/_add_bank_funds.html" %}

    <!-- bank transfer modal-->
    {% include "components/bank/dashboard/modals/_bank_transactions.html" %}

    <!-- view cards modal-->
    {% include "components/bank/dashboard/modals/_view_card.html" %}

    <!-- Bank funds transfer modal-->
    {% include "components/bank/dashboard/modals/_bank_funds_transfer.html" %}

    {% else %}


    {% endif %}


</section>



{% endblock body %}


{% block script %}

<script src="{% static 'js/dashboard/bank-dashboard.js' %}" type="module"></script>
{% endblock script %}