{% extends "partials/dashboard/base.html" %}

{% load static %}

{% block title %}Main page{% endblock title %}


{% block csrfToken %}
<meta name="csrf-token" content="{{ csrf_token }}" id="csrf_token">
{% endblock csrfToken %}



{% block body %}

<section id="dashboard-transfer" aria-label="User dashboard transfer">

    <div class="dashboard__container">

        <!-- Sidebar navigation -->


        <!-- Main content -->
        <section class="dashboard__container__main" tabindex="-1">

            {% include "partials/header/header.html" %}

            {% if request.user and not request.user.is_superuser or not request.user.is_staff %}

            <!-- transfer money -->

            <!-- order new card section -->
            <section class="card order-card flex-grid two-column-25_75_grid p-8 mb-8">


                <div class="order-card-visual flex center">
                    <div class="add-card-icon">+</div>
                </div>

                <div class="credit-card-info pl-16 pr-24 pt-24">
                    <h2 class="header-7">Order new card</h2>

                    <p class="text-muted">
                        Request a new physical or virtual credit card.
                    </p>

                    <div class="card-actions manage-card">
                        <a href="{% url 'card_request_information'%}">
                            <button class="btn-primary">Request new card</button>
                        </a>

                    </div>
                </div>

            </section>

            <!-- card management -->
            <section class="credit-menu p-16 pl-16 mt-8 white-bg mb-8">
                <h1 class="capitalise header-7 mb-24 pl-16">Credit card management</h1>

                <p class="pl-16">Manage your cards or add a new one.</p>
                <p class="pl-16">Select up to three cards to show on your dashboard.</p>
                <p class="dashboard-limit mt-24 pl-16">
                    <span class="bold"> Dashboard cards:</span>
                    <span id="num-of-card-selected">0</span> / <span id="maximum-cards">3</span> selected
                </p>

                 <p class="dashboard-limit mt-24 pl-16">
                    <span class="bold"> Number of Dashboard cards shown: </span>
                    <span id="num-of-cards">{{ num_of_cards }}</span>

                </p>
            </section>


            <!-- list of cards to manage -->
            {% if cards %}
                {% include "components/bank/cards/cards.html" %}
            {% else %}
                {% include "components/bank/cards/empty_card_msg.html" %}
            {% endif %}

              <div class="credit-card-setting-info pl-24 mt-16">
                <p>
                Tip: You can manage your credit cards settings, set credit card limits,
                and make payments right from this page
                </p>
                <p>Click on <a href="#">set card limits here</a> to proceed</p>
            </div>
            {% else %}

            <!-- Information for staff will go here -->

            {% endif %}

        </section>

    </div>

</section>


{% endblock body %}


{% block script %}

    <script type="module" src="{% static '/js/card/showInDashboard.js' %}"></script>

{% endblock script %}
