{% load static %}


<section id="features" aria-labelledby="features-heading" class="mt-48">
    <div class="features__container fade-up">

        <!-- Section Heading -->
        <header>
            <h2 id="features-heading" class="center capitalise">
                Everything you need to simulate a real banking flow
            </h2>
            <p class="center features__subtext pt-8">
                Everything you need to manage money, move funds, and stay in control.
            </p>
        </header>

        <!-- Feature Cards List -->
        <div class="features__cards flex-grid three-column-grid mt-24" role="list">

            <!-- Feature Card 1 -->
            <div class="card fade-up">
                <div class="card-head flex-grid two-column-40_60_grid">
                    <div class="card-img">
                        <img src="{% static "/images/card-icons/wallet.png" %}" alt="" aria-hidden="true"
                            class="feature-card-img">
                    </div>
                    <div class="card-title">
                        <h3 class="capitalise ">Virtual Accounts & Wallet</h3>
                    </div>
                </div>
                <div class="body">
                    <p>Create and manage virtual bank accounts and secure digital wallets.</p>
                </div>

                <div class="tag">
                    <span aria-label="Secure accounts">🔒 secure</span>
                </div>
            </div>

            <!-- Feature Card 2 -->
            <div class="card fade-up" id="feature-card-transfer">
                <div class="card-head flex-grid two-column-40_60_grid">
                    <div class="card-img">
                        <img src="{% static "/images/card-icons/transfer.png" %}" alt="" aria-hidden="true"
                            class="feature-card-img">
                    </div>
                    <div class="card-title">
                        <h3 class="capitalise ">Funds Transfer</h3>
                    </div>
                </div>
                <div class="body">
                    <p>Instantly transfer funds between your virtual accounts and linked bank account.</p>
                </div>

                <div class="tag">
                    <span aria-label="Simulated feature, no real funds transferred">⚡ Simulated</span>
                </div>

            </div>

            <!-- Feature Card 3 -->
            <div class="card fade-up">
                <div class="card-head flex-grid two-column-40_60_grid">
                    <div class="card-img">
                        <img src="{% static "/images/card-icons/credit-card.png" %}" alt="" aria-hidden="true"
                            class="feature-card-img">
                    </div>
                    <div class="card-title">
                        <h3 class="capitalise ">Payment Cards Management</h3>
                    </div>
                </div>
                <div class="body">
                    <p>Send and receive money between wallets and connected accounts in real time.</p>
                </div>

                <div class="tag">
                    <span aria-label="Simulated feature, no real funds transferred">⚡ Simulated</span>
                </div>

            </div>

            <!-- Feature Card 4 -->
            <div class="card fade-up">
                <div class="card-head flex-grid two-column-40_60_grid">
                    <div class="card-img">
                        <img src="{% static "/images/card-icons/customer-service.png" %}" alt="" aria-hidden="true"
                            class="feature-card-img">
                    </div>
                    <div class="card-title">
                        <h3 class="capitalise ">Customer Support & Help Centre</h3>
                    </div>
                </div>
                <div class="body">
                    <p>Get help quickly with in-app support, FAQs, and live assistance.</p>
                </div>

                <div class="tag">
                    <span aria-label="Guided support experience using predefined help content and assistance.">
                        💬 Guided
                    </span>
                </div>


            </div>

            <!-- Feature Card 5 -->
            <div class="card fade-up">
                <div class="card-head flex-grid two-column-40_60_grid">
                    <div class="card-img">
                        <img src="{% static "/images/card-icons/security-and-account.png" %}" alt="" aria-hidden="true"
                            class="feature-card-img">
                    </div>
                    <div class="card-title">
                        <h3 class="capitalise ">Security & Account Controls</h3>
                    </div>
                </div>
                <div class="body">
                    <p>Protect your account with advanced security features.</p>
                </div>

                <div class="tag">
                    <span aria-label="Secure accounts">🔒 secure</span>
                </div>
            </div>

            <!-- Feature Card 6 -->
            <div class="card fade-up">
                <div class="card-head flex-grid two-column-40_60_grid">
                    <div class="card-img">
                        <img src="{% static "/images/card-icons/transaction-history.png" %}" alt="" aria-hidden="true"
                            class="feature-card-img">
                    </div>
                    <div class="card-title">
                        <h3 class="capitalise ">Transaction History & Statements</h3>
                    </div>
                </div>
                <div class="body">
                    <p>Access detailed records of all your transactions.</p>
                </div>

                <div class="tag">
                    <span aria-label="Simulated transaction records generated for learning and demonstration purposes.">
                        📄 Simulated
                    </span>
                </div>

            </div>

        </div>

    </div>
</section>