<section id="virtual-bank-testimony-quote" class="fade-up testimony-quote">
    <div class="testimony-quote__container container center">

        <span class="left-quote quote">
            <i class="fa fa-quote-left"></i>
        </span>

        <blockquote>
            Virtual Bank helped me understand account overflows and transaction limits without risking real
            money.
        </blockquote>

        <span class="right-quote quote">
            <i class="fa fa-quote-right"></i>
        </span>
    </div>
</section>