<li class="sidebar-nav__item">
    <a href="{% url 'dashboard' %}" class="sidebar-nav__link" aria-current="page">
        <span class="sidebar-nav__icon" aria-hidden="true">
            <i class="fa-regular fa-house"></i>
        </span>
        <span class="sidebar-nav__label">Dashboard</span>
    </a>
</li>

<li class="sidebar-nav__item">
    <a href="#" class="sidebar-nav__link">
        <span class="sidebar-nav__icon" aria-hidden="true">
            <i class="fa-solid fa-wallet"></i>
        </span>
        <span class="sidebar-nav__label">My Wallet</span>
    </a>
</li>

<li class="sidebar-nav__item">
    <a href="{% url 'money_transfer' %}" class="sidebar-nav__link">
        <span class="sidebar-nav__icon" aria-hidden="true">
            <i class="fa-solid fa-money-bill-transfer"></i>
        </span>
        <span class="sidebar-nav__label">Money Transfer</span>
    </a>
</li>

<li class="sidebar-nav__item">
    <a href="{% url 'manage_cards' %}" class="sidebar-nav__link">
        <span class="sidebar-nav__icon" aria-hidden="true">
            <i class="fa-solid fa-credit-card"></i>
        </span>
        <span class="sidebar-nav__label">Manage Credit Cards</span>
    </a>
</li>