{% load static %}


<div class="card-request-summary">

    <div class="card-request-summary__container">
        <h2 class="mb-4 header-8">Application summary</h2>

        <p class="text-muted mb-24">
            Preview your card details and application information before
            continuing.
        </p>

        <div class="bank-card credit-discover-card" role="region"
            aria-label="Atlas Bank Discover Debit Card, balance £0.00">
            <div class="card-head">
                <div class="card-head-info">
                    <h3>Atlas Bank</h3>
                    <p class="bank-card-amount">£0.00</p>
                </div>

                <div class="card-type-logo flex flex-end">
                    <img src="{% static 'images/icons/discover.svg' %}" alt="Discover logo">
                </div>
            </div>

            <div class="card-body">
                <div class="chip">
                    <img src="{% static 'images/icons/sim-card-chip.svg' %}" alt="Card chip">
                </div>

                <div class="credit-transaction-type flex flex-end">
                    <span class="card-type">Credit</span>
                </div>

                <div class="card-number flex flex-end">
                    <span class="card-number">***********</span>

                </div>
            </div>

            <div class="card-footer flex flex-space-between">
                <div class="card-name">Joke Thompson</div>
                <div class="card-expiry-date">
                    <p>Expiry date: TBD</p>
                </div>
            </div>
        </div>


    </div>

    <div class="card-request-summary__info mt-24">

        <dl>
            <div class="group">
                <dd>Card Type</dd>
                <dt>Visa</dt>
            </div>

            <div class="group">
                <dd>Card Variant</dd>
                <dt>Virtual card</dt>
            </div>

            <div class="group">
                <dd>Delivery</dd>
                <dt>Online</dt>
            </div>

            <div class="group">
                <dd>Ext delivery</dd>
                <dt>Instant</dt>
            </div>
        </dl>
    </div>

    <div class="chat-info flex-grid two-column-20_80_grid mt-24">
        <div class="chat-icon center" aria-hidden="true">
            <i class="fa-solid fa-headset"></i>
        </div>

        <div class="chat">
            <h3 class="header-9">Need help</h3>
            <p class="text-muted">Chat with our support team</p>
        </div>
    </div>

</div>