<section id="my-cards" aria-labelledby="credit-cards-heading">
  <div class="my_cards__container p-16 mb-16">
    <h1 class="header-7">No Cards Available</h1>

    <p class="mb-4 mt-24">
      You currently do not have any active cards associated with your account.
    </p>

    <p class="mt-16">
      If you have recently submitted a card request, your application is
      currently being reviewed by our team.
    </p>

    <p class="mt-16">
      Once your application has been approved and your card has been issued, it
      will appear here automatically.
    </p>
  </div>

</section>
