{% extends "bank/setup/base.html" %}
{% load static %}

{% block title %}Bank Choices{% endblock title %}

{% block body %}

<section id="choose-bank" class="mt-48 mb-48">

    <div class="choose-bank__container account-setup fade-up ">
        <div class="bank-status mb-24">
            <small>Step 2 of 4</small>
            <h1 class="capitalise light-bold">Select your bank</h1>
            <p>Choose from a list of banks</p>
        </div>

        <form action="{% url 'choose_bank' %}" method="post" id="chooose-bank-form" role="form">

            {% csrf_token %}
            <div class="choose-bank__cards flex-grid three-column-grid">

                <!-- card 1 -->

                {% if not banks %}
                     <p>No banks have been added yet. Create a bank to continue.</p>
                {% else %}
                    {% for bank in banks %}
                        <div class="choose-bank__card card flex-grid two-column-20_80_grid is-selected" for="bank-atlas">

                            <div class="card-head card-head--control">
                                <input type="radio" name="chosen_bank" value="{{ bank.name }}">
                            </div>

                            <div class="card-body flex-grid two-column-25_75_grid">
                                <div class="card-head card-head--logo">
                                    <img src="{% static bank.logo_image  %}" alt="{{ bank.name }}"
                                        class="choose-bank-img-logo">
                                </div>
                                <div class="bank-details">
                                    <h1 class="bank-title">{{ bank.name | title }}</h1>
                                    <p class="mb-8 mt-8">{{ bank.description|truncatechars:100 }}</p>
                                    <p>Interest rates <span>{{ bank.interest_rate }}%</span></p>
                                    <p>Minimum deposit <span>
                                        {% if bank.minimum_opening_deposit == 0 %}
                                            None
                                        {% else %}
                                            £{{ bank.minimum_opening_deposit }}
                                        {% endif %}
                                    </span></p>
                                                                
                                
                                    <p>Overdraft <span>{{ bank.offer_overdraft }} </span></p>
                                    <p>Monthly fee <span>£{{ bank.monthly_deposit }}</span></p>

                                    {% if bank.offer_saving_account %}
                                        <p>Saving account <span>Available</span></p>
                                    {% else %}
                                        <p>Saving account <span>Not available</span></p>
                                    {% endif %}

                                    {% if bank.offer_loans %}
                                        <p>Loans <span>Available</span></p>
                                    {% else %}
                                        <p>Loans <span>Not available</span></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                {% endif %}

               

            
               
              
    
            </div>

            <div class="choose-bank__btns flex flex-space-between mt-8 fade-up">
                <div id="choose-bank-helper" class="bank-info light-bold">
                    <p>Can’t find your bank? No problem, you can choose a different one.</p>

                </div>
                <button type="submit" class="btn-medium bank-btn-continue capitalise">Continue</button>

            </div>
        </form>
    </div>
</section>


{% endblock body %}


{% block script %}
<script src="{% static '/js/bankSetup/bankSetup.js' %}" type="module"></script>
{% endblock script %}