{% extends "bank/setup/base.html" %}
{% load static %}

{% block title %}Bank Choices{% endblock title %}

{% block body %}

<section id="create-profile" class="mt-48 mb-48 fade-up" aria-labelledby="bank-completion-title">

    <div class="create-profile__container account-setup">

        {% include "partials/messages/messages.html" %}

        <!-- Page header -->
        <div class="create-profile mb-24">
              {% include "partials/messages/messages.html" %}
            <small>Step 4 of 5</small>
        </div>

        <div id="profile-details" class="profile-details">

            <form action="{% url 'create_profile' %}" method="post" role="form" enctype="multipart/form-data">

                {% csrf_token %}

                <header class="profile-header center">
                    <h1>Create Profile</h1>

                    <p class="text-muted">
                        Set up your personal profile information.
                        Fields marked with * are required.
                    </p>
                </header>

                <!-- Profile Picture -->
                <section class="profile-section" aria-labelledby="profile-picture-heading">

                    <div class="section-heading">
                        <h2 id="profile-picture-heading">Profile Picture</h2>

                        <p class="text-muted">
                            Upload a profile image to personalise your account
                        </p>
                    </div>

                    <div class="profile-pic center" id="profile-pic-preview">
                        <div class="spinner center" id="create-profile-spinner"></div>
                        <div id="profile-img-preview">

                            <img src="{% static 'images/icons/profile.png' %}" alt="" srcset="" id="profile-bank-placeholder-img">

                        </div>
                        <p class="text-muted"> image preview</p>
                        <button type="button" class="btn-large green-bg white-text mb-24" id="profile-preview-btn">Save preview</button>

                    </div>

                    <div class="form-group flex-grid">

                        <label for="profile-pic">
                            Choose profile picture
                        </label>

                        {{ form.profile_pic }}
                        {{ form.profile_pic.errors }}

                        <small id="profile-pic-help">
                            Accepted formats: JPG, PNG
                        </small>

                    </div>

                </section>


                <!-- Personal Information -->
                <section class="profile-section mt-24 mb-24" aria-labelledby="personal-info-heading">

                    <div class="section-heading">

                        <h2 id="personal-info-heading">
                            Personal Information
                        </h2>

                        <p class="text-muted">
                            Enter your basic personal details.
                        </p>

                    </div>

                    <div class="form-grid">

                        <div class="form-group">

                            <label for="first-name">
                                First name <span aria-hidden="true">*</span>
                            </label>

                            {{ form.first_name }}
                            {{ form.first_name.errors }}

                        </div>

                        <div class="form-group">

                            <label for="last-name">
                                Last name <span aria-hidden="true">*</span>
                            </label>

                            {{ form.last_name }}
                            {{ form.last_name.errors }}


                        </div>

                        <div class="form-group">

                            <label for="middle-name">
                                Middle name
                            </label>

                            {{ form.middle_name }}
                            {{ form.middle_name.errors }}

                        </div>

                        <div class="form-group flex-grid">

                            <label for="gender">
                                Gender <span aria-hidden="true">*</span>
                            </label>

                            {{ form.gender }}
                            {{ form.gender.errors }}

                            <small id="gender-help">
                                Select your gender.
                            </small>

                        </div>

                        <div class="form-group flex-grid">

                            <label for="bio">
                                Bio*
                            </label>

                            {{ form.bio }}
                             {{ form.bio.errors }}
                            <p class="num-of-characters-remaining text-align-right character-usage-message">
                                Minimum characters to use: 50
                            </p>

                            <p class="num-of-characters-to-use text-align-right character-usage-message">
                                Number of characters remaining: 150
                            </p>

                        </div>

                    </div>

                </section>


                <!-- Contact Information -->
                <section class="profile-section" aria-labelledby="contact-info-heading">

                    <div class="section-heading">

                        <h2 id="contact-info-heading">
                            Contact Information
                        </h2>

                        <p class="text-muted">
                            Add your contact details so we can reach you when needed.
                        </p>

                    </div>

                    <div class="form-grid">

                        <div class="form-group">

                            <label for="email">
                                Email address
                            </label>

                            <input type="email" id="email" value="{{ request.user.email }}" readonly>

                        </div>

                        <div class="form-group flex-grid">

                            <label for="phone-number">
                                Phone number <span aria-hidden="true">*</span>
                            </label>

                            {{ form.phone_number }}
                            {{ form.phone_number.errors }}


                        </div>

                    </div>

                </section>


                <!-- Address Information -->
                <section class="profile-section mt-24 mb-24" aria-labelledby="address-heading">

                    <div class="section-heading">

                        <h2 id="address-heading">
                            Address Information
                        </h2>

                        <p class="text-muted">
                            Provide your current residential address.
                        </p>

                    </div>

                    <div class="form-grid">

                        <div class="form-group">

                            <label for="address-line-1">
                                Address line 1
                                <span aria-hidden="true">*</span>
                            </label>

                            {{ form.address_line_1 }}
                            {{ form.address_line_1.errors }}

                        </div>

                        <div class="form-group">

                            <label for="address-line-2">
                                Address line 2
                            </label>

                            {{ form.address_line_2 }}
                            {{ form.address_line_2.errors }}

                        </div>

                        <div class="form-group">

                            <label for="city">
                                City <span aria-hidden="true">*</span>
                            </label>

                            {{ form.city }}
                            {{ form.city.errors }}

                        </div>

                        <div class="form-group">

                            <label for="postcode">
                                Postcode <span aria-hidden="true">*</span>
                            </label>

                            {{ form.postcode }}
                            {{ form.postcode.errors }}

                        </div>

                        <div class="form-group flex-grid">

                            <label for="country">
                                Country <span aria-hidden="true">*</span>
                            </label>

                            {{ form.country }}
                            {{ form.country.errors }}

                        </div>

                    </div>

                </section>

                <div class="flex-grid two-column-grid create-profile">

                    <a href="{% url 'choose_pin' %}">
                        <button class="buttons btn-large blue-bg white-text capitalize" type="button">Back</button>
                    </a>

                    <a href="{% url 'bank_confirmation' %}">
                        <button type="submit" class="btn-large green-bg white-text capitalize">Continue</button>
                    </a>

                </div>

            </form>

        </div>

    </div>

</section>

{% endblock body %}


{% block script %}
<script src="{% static 'js/bankSetup/bankSetup.js' %}" type="module"></script>
<script src="{% static 'js/bankSetup/profile-pic-crop.js' %}" type="module"></script>
{% endblock script %}
